
// basic > previous style
/* Caleran */
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start, .caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
   min-width: 0;
   margin: 0;
}
.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick, .caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick {
   width: calc(100% / 7);
   float: left;
   text-align: center;
   font-size: 15px;
   font-weight: 400;
   margin: 0;
   margin-bottom: 1px;
   background: #cccccc;
   cursor: not-allowed !important;
   color: #fff;
   min-height: 30px;
   border-radius: 2px;
   position: relative;
}
.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span, .caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span {
   pointer-events: none;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 4px;
   top: 4px;
   bottom: 4px;
   right: 4px;
}
.caleran-apply-d, .caleran-apply {
   background: #f4b350 repeat-x left top !important;
   border: 1px solid #f4b350 !important;
   color: #fff;
   margin-left: 7px;
}
.caleran-container-mobile .caleran-input .caleran-footer button.caleran-cancel {
   background:#fff;
   border: 1px solid #f4b350 !important;
   color: #f4b350!important;
}
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end {
   background: #cccccc !important;
   color: #fff;
}
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
   text-align: left;
   max-width: 40vmin;
}
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-day {
   float: left;
   margin-right: 10px;
}
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend {
   color:#be142f;
}
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-weekday {
   margin-top: 0;
}
.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-today, .caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-today {
   color: #fff;
   border-radius: 50%;
   background: #cccccc;
   font-weight: 400;
}
.caleran-container-mobile .caleran-input .caleran-footer button {
   border-radius: 0;
}
.caleran-container .caleran-input .caleran-header .caleran-header-end .caleran-header-end-day,
.caleran-container .caleran-input .caleran-header .caleran-header-end .caleran-header-start-day,
.caleran-container .caleran-input .caleran-header .caleran-header-start .caleran-header-end-day,
.caleran-container .caleran-input .caleran-header .caleran-header-start .caleran-header-start-day,
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-day,
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-start-day,
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start .caleran-header-end-day,
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start .caleran-header-start-day {
   color: #f4b350;
}
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-separator {
   color: #f4b350;
}
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start .caleran-header-start-day {
   display: block;
}

.caleran-container-mobile .caleran-input .caleran-footer button.caleran-apply:disabled, .caleran-container-mobile .caleran-input .caleran-footer button.caleran-apply[disabled=disabled] {
  color: #fff;
}
@media screen and (orientation: landscape) {
   .caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
       width: auto;
       min-width: 0;
   }
}
@media screen and (max-width: 767px) {
   .caleran-calendars #keteranganHari {
       display: block;
       clear: both;
       background: #f8f8ff;
       margin: 0 10px 10px;
       padding: 5px;
       border-radius: 3px;
       border: 1px solid #ddd;
       color: red;
       font-size: 12px;
   }
}
@media screen and (max-height: 480px) {
   .caleran-container-mobile .caleran-input {
       top: auto;
       bottom: 0;
   }
   .box-text {
       margin-top: 10px;
   }
}

/*------------------------------------*\
   MISC
   \*------------------------------------*/

   ::selection {
       background:#09a0bb;
       color:#FFF;
       text-shadow:none;
   }
   ::-webkit-selection {
       background:#09a0bb;
       color:#FFF;
       text-shadow:none;
   }
   ::-moz-selection {
       background:#09a0bb;
       color:#FFF;
       text-shadow:none;
   }

/*------------------------------------*\
   WORDPRESS CORE
   \*------------------------------------*/

   .alignnone {
       margin:5px 20px 20px 0;
   }
   .aligncenter,
   div.aligncenter {
       display:block;
       margin:5px auto 5px auto;
   }
   .alignright {
       float:right;
       margin:5px 0 20px 20px;
   }
   .alignleft {
       float:left;
       margin:5px 20px 20px 0;
   }
   a img.alignright {
       float:right;
       margin:5px 0 20px 20px;
   }
   a img.alignnone {
       margin:5px 20px 20px 0;
   }
   a img.alignleft {
       float:left;
       margin:5px 20px 20px 0;
   }
   a img.aligncenter {
       display:block;
       margin-left:auto;
       margin-right:auto;
   }
   .wp-caption {
       background:#FFF;
       border:1px solid #F0F0F0;
       max-width:96%;
       padding:5px 3px 10px;
       text-align:center;
   }
   .wp-caption.alignnone {
       margin:5px 20px 20px 0;
   }
   .wp-caption.alignleft {
       margin:5px 20px 20px 0;
   }
   .wp-caption.alignright {
       margin:5px 0 20px 20px;
   }
   .wp-caption img {
       border:0 none;
       height:auto;
       margin:0;
       max-width:98.5%;
       padding:0;
       width:auto;
   }
   .wp-caption .wp-caption-text,
   .gallery-caption {
       font-size:11px;
       line-height:17px;
       margin:0;
       padding:0 4px 5px;
   }

/*------------------------------------*\
   PRINT
   \*------------------------------------*/

   @media print {
       * {
           background:transparent !important;
           color:#000 !important;
           box-shadow:none !important;
           text-shadow:none !important;
       }
       a,
       a:visited {
           text-decoration:underline;
       }
       a[href]:after {
           content:" (" attr(href) ")";
       }
       abbr[title]:after {
           content:" (" attr(title) ")";
       }
       .ir a:after,
       a[href^="javascript:"]:after,
       a[href^="#"]:after {
           content:"";
       }
       pre,blockquote {
           border:1px solid #999;
           page-break-inside:avoid;
       }
       thead {
           display:table-header-group;
       }
       tr,img {
           page-break-inside:avoid;
       }
       img {
           max-width:100% !important;
       }
       @page {
           margin:0.5cm;
       }
       p,
       h2,
       h3 {
           orphans:3;
           widows:3;
       }
       h2,
       h3 {
           page-break-after:avoid;
       }
   }


/* Navigation */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.1);
}
.navbar-default .nav>li {
  &.current-menu-parent {
    ul {
      li {
        &.active, .current-menu-item {
          a {
            background: $color-red;
          }
        }
      }
    }
  }
}
.navbar-default .nav>li.dropdown:hover .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

/* Contact Form */
.page .content-contact .contact-form input[type=submit] {
  padding: 5px 20px;
  border: 1px solid #f4b350;
  background: #f4b350;
  border-radius: 0;
  font-weight: 300;
  color: #fff;
}

.gform_wrapper .gform_heading,
.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label,
.top_label div.ginput_complex.ginput_container.gf_name_has_2 label,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  display: none!important;
}

#gform_wrapper_1.gform_wrapper .top_label .gfield_label {
  display: none!important;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
  padding: 5px 20px;
  border: 1px solid #f4b350;
  background: #f4b350;
  border-radius: 0;
  font-weight: 300;
  color: #fff;
}

.gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0!important;
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio:0) {
  .homepage .section.main-slider .booking-box #datepicker .field .field-inner span,
  .form-control {
    font-size: 16px!important;
  }
}
@media (min-width: 768px) {
  .form-control {
    font-size: 14px;
  }
}

@media (min-width: 320px) {
  body .gform_wrapper .top_label div.ginput_container.ginput_recaptcha {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

#gform_wrapper_1 {
  input[type="text"],
  input[type="email"] {
    padding-left: 15px;
    font-size: 13px;
  }
}

.info-room {
  .dataTables_wrapper {
    font-size: 13px;
  }
}

body {
  &.rsvp, &.events-rsvp, &.wedding-rsvp, &.catering-rsvp,
  &.about-eastparc-the-best-5-star-hotel, &.privacy-policy,
  &.terms-condition, &.security-safety, &.sitemap {
    .owl-carousel {
      .owl-slide {
        padding-bottom: 80vh;
      }
    }
  }
}
