.krs-pricing-table {
    border: 1px solid #DDD;
    position: relative;
    margin-bottom: 20px;
    background-color: #FFF;
    float: left;
    clear: both;
}
.krs-pricing-list th, .krs-pricing-list td {
    padding: 5px 5px 5px 0;
}
.krs-pricing-table-title {
    padding: 10px;
    margin: 0;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
}
.krs-pricing-controls {
    position: absolute;
    right: 10px;
    top: 10px;
}
.krs-pricing-controls a {
    margin-left: 0px;
    border: 1px solid #DDD;
    background-color: #F5F5F5;
    padding: 5px;
}
.krs-pricing-table input[type="number"] {
    width: 100px;
}
.krs-pricing-table.regular-price .krs-pricing-table-title input, .krs-pricing-table.regular-price .krs-pricing-controls .dashicons-trash {
    display: none;
}
.krs-pricing-list {
    border-top: 1px solid #EEE;
    padding: 10px 5px 5px 10px;
}
.krs-pricing-table-title input {
    min-width: 150px;
    width: auto;
}

.krs-pricing-table.regular-price .krs-pricing-table-title input, .krs-pricing-table.regular-price .krs-pricing-controls .dashicons-trash {
    display: none;
}

#krs-pricing-plan-list {
    overflow: hidden;
    clear: both;
}